In [28]:
# Задание 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
# Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd

data = pd.read_csv('/Users/mariadolgova/Downloads/ml-latest-small/ratings.csv')

filtered_movies = data[ data['rating']== 5.0]

filtered_movies['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [48]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики
# (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
# Не учитывайте в расчетах отрицательные значения quantity.

data2 = pd.read_csv('/Users/mariadolgova/Downloads/ml-latest-small/power.csv')

data2.head(15)
filtered = data2[ ((data2['country']== 'Latvia') | (data2['country']== 'Litva') | (data2['country']== 'Estonia')) &
                 ((data2['category']== 4) | (data2['category']== 12) | (data2['category']== 21)) &
                 ((data2['year'] >= 2005) & (data2['year'] <= 2010))]

filtered['quantity'].sum()

118284.0

In [57]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

pd.read_html('https://www.moex.com')[3]

  Сентябрь
        Пн    Вт    Ср    Чт    Пт    Сб    Вс
0      NaN   NaN   NaN   NaN   NaN   NaN   1.0
1      2.0   3.0   4.0   5.0   6.0   7.0   8.0
2      9.0  10.0  11.0  12.0  13.0  14.0  15.0
3     16.0  17.0  18.0  19.0  20.0  21.0  22.0
4     23.0  24.0  25.0  26.0  27.0  28.0  29.0
5     30.0   NaN   NaN   NaN   NaN   NaN   NaN